/* "Arial, Helvetica, sans-serif" */
/* "Lucida Console", Monaco, monospace" */
/* "Courier New" */

body, td{
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 175%;
}

math, math[mode="inline"] {
  display: inline;
  font-size: 12pt;
  font-weight: normal;
}

code.r {
  font-family: Helvetica;
  font-size: 11pt;
}

/* Headers */
h1 {
  font-size: 22pt;
  font_weight: bold;
}

h2,h3,h4,h5,h6{
  font-size: 20pt;
  font_weight: bold;
}
